.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.local/
.ssh/
.viminfo
.vimrc
public/temporary.html

/config/*json
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

deploy_prd.sh

package-lock.json
yarn.lock
